services:
  comfyui:
    image: mmartial/comfyui-nvidia-docker:latest
    container_name: comfyui
    restart: unless-stopped

    ports:
      - "127.0.0.1:8188:8188"

    runtime: nvidia

    environment:
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"
      USE_UV: "true"
      WANTED_UID: "1000"
      WANTED_GID: "1000"
      BASE_DIRECTORY: "/basedir"
      SECURITY_LEVEL: "normal"

    volumes:
      - ./run:/comfy/mnt
      - ./basedir:/basedir
